{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}提比資產管理系統{% endblock %}</title>
  <meta name="description" content="提比資產管理系統" />
  <link rel="shortcut icon" type="image/png" href="{% static 'user/img/hm_smile.png' %}" />
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <!-- bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- vue@3 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


  <style type="text/css">
    .d-light-inline {
      display: inline !important;
    }

    html.light .navbar {
      background-color: aliceblue;
    }
  </style>
</head>

<body>

  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <b>提比</b>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasic" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-tab">
          分寶群
        </a>
        <!-- <a class="navbar-item">
          Documentation
        </a> -->
      </div>
  
      <div class="navbar-end">
        {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <figure class="image is-32x32">
              {% if user.userprofile.avatar %}
              <img src="{{ user.userprofile.avatar.url }}" class="is-rounded">
              {% else %}
              <img src="https://secure.gravatar.com/avatar/{{ user.userprofile.user_token.hex }}?s=30&d=identicon" class="is-rounded">
              {% endif %}
            </figure>
            </a>
            <div class="navbar-dropdown is-right">
              <a class="navbar-item" href="/user/avatar_change/">
                變更頭像
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="/accounts/logout/">
                登出
              </a>
            </div>
        {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/accounts/signup/">
              <strong>註冊</strong>
            </a>
            <a class="button is-light" href="/accounts/login/">
              登入
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>


  <section class="hero">
    <div class="hero-body">
      {% block content %}{% endblock content %}
    </div>
  </section>
</body>


<script>
$(document).ready(function() {

// Check for click events on the navbar burger icon
$(".navbar-burger").click(function() {

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    $(".navbar-burger").toggleClass("is-active");
    $(".navbar-menu").toggleClass("is-active");

});
});

</script>

</html>