upstream django { 
    # server 127.0.0.1:8000;
    server unix:///var/www/html/teabe/uwsgi.sock;
}

server {
    listen 80;

    # server
    # server_name 127.0.0.1;
    server_name example.com.tw;
    charset utf-8 ;

    # listen 443 ssl default_server reuseport;
    # listen [::]:443 ssl default_server reuseport;


    # ssl_certificate         /etc/letsencrypt/live/test-name/fullchain.pem;
    # ssl_certificate_key     /etc/letsencrypt/live/test-name/privkey.pem;
    # ssl_trusted_certificate /etc/letsencrypt/live/test-name/chain.pem;

    # ssl_dhparam /etc/letsencrypt/dhparams/dhparam.pem;

    client_max_body_size 120M ;

    location /media   { 
        alias /var/www/html/teabe/media ;
    }

    location /static { 
        alias /var/www/html/teabe/static ;
    }

    location / { 
        uwsgi_pass django ; 
        include /var/www/html/teabe/server/uwsgi_params ;
    } 

}
