.container-left {
    /* background-color: aqua; */
    margin-top: 80px;
    height: calc(100vh - 90px);
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}

.container-right {
    background-color: bisque;
    margin-top: 80px;
    height: calc(100vh - 90px);
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}

.container-all {
    margin-top: 80px;
}

.back-btn {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 20px;
}

.back-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.hide-in-phone {display:none}
.show-in-phone {display:block} 

@media only screen and (min-width:768px){
    .hide-in-phone { display: block; }
    .show-in-phone { display: none; } 
}
