[mysqld]
user=mysql
default-storage-engine=INNODB

port = 3306
#bind-address = localhost

basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
pid-file = /var/run/mysqld/mysqld.pid

collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4;'
character-set-server = utf8mb4
socket=/var/lib/mysql/mysql.sock

skip-name-resolve
innodb_buffer_pool_size = 4096M

[client]
default-character-set=utf8mb4
socket=/var/lib/mysql/mysql.sock

[mysql]
no-auto-rehash
default-character-set=utf8mb4
