{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<h1 class="text-center">{% trans "Password Reset" %}</h1>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>
    忘記您的密碼了嗎？<br>
    請在下方輸入您的電子郵件，我們會發送一封電子郵件給您，以便重新設定您的密碼。
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}


    <label for="id_email" class="form-label">電子郵件：</label>
    <div class="input-group">
        <span class="input-group-text">
            <i class="bi bi-envelope-fill"></i>
        </span>
        <input type="email" class="form-control" name="email" placeholder="電子郵件地址" autocomplete="email" maxlength="150"
            required="" id="id_email">
    </div>

    <br>

    <div class="d-grid gap-2">
        <button name="action_add" type="submit" class="btn btn-primary">
            {% trans 'Reset My Password'%}</button>
    </div>


</form>
<br>
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

{% endblock %}