{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <label for="id_password1" class="form-label">新密碼</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" class="form-control" name="password1" placeholder="新密碼" autocomplete="new-password"
                    required="" id="id_password1">
            </div>
            {% if form.errors.password1 %}
            <p class="lh-1 text-danger">
                {% for err in form.errors.password1 %}
                ‧{{ err }} <br>
                {% endfor %}
            </p>
            {% else %}
            <br>
            {% endif %}
        
            <label for="id_password2" class="form-label">新密碼 (再一次)：</label>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" class="form-control" name="password2" placeholder="新密碼 (再一次)" required=""
                    id="id_password2">
            </div>
            {% if form.errors.password2 %}
            <p class="lh-1 text-danger">
                {% for err in form.errors.password2 %}
                ‧{{ err }} <br>
                {% endfor %}
            </p>
            {% else %}
            <br>
            {% endif %}

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
