{% extends "share_base.html" %}
{% load share_extras %}


{% block title %}
<title>{{ share_group.title }}</title>
{% endblock title %}



{% block share_content %}


<h2>{{ share_group.title }}
    <span class="badge rounded-pill text-bg-primary">{{ share_self.member_type | get_member_role_ch }}</span>
</h2>

<!-- 互動視窗 紀錄分寶 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal_content">
            <!-- <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

{% if share_self.member_type == 21 or share_self.member_type == 22 %}
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_admin/{{ share_self.id }}')">
    分寶群設定
</button>
{% endif %}

{% if share_self.member_type >= 21 and share_self.member_type <= 23 %}
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_members/{{ share_self.id }}')">
    顯示所有成員
</button>
<button type="button" class="btn btn-outline-primary"
    onclick="text_to_copy('https://{{ request.get_host }}{{ request.path }}')" title="無法複製請直接複製網址">點擊複製分寶(邀請)連結</button>
{% endif %}

{% if not share_self.member_type and share_group.is_apply or share_self.member_type == 12 %}
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_join/{{ share_group.token }}')">
    申請加入
</button>
{% endif %}
<br><br>

<script>
</script>

{% endblock share_content %}