{% extends "share_base.html" %}
{% load share_extras %}


{% block title %}
<title>{{ share_group.title }}</title>
{% endblock title %}



{% block share_content %}


<h2>{{ share_group.title }}
    <span class="badge rounded-pill text-bg-primary">{{ share_self.member_type | get_member_role_ch }}</span>
</h2>

<!-- 互動視窗 紀錄分寶 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal_content">
            <!-- <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

{% if share_self.member_type == 21 or share_self.member_type == 22 %}
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_admin/{{ share_self.id }}')">
    分寶群設定
</button>
{% endif %}

{% if share_self.member_type >= 21 and share_self.member_type <= 23 %}
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_members/{{ share_self.id }}')">
    成員管理
</button>
<button type="button" class="btn btn-outline-primary"
    onclick="text_to_copy('https://{{ request.get_host }}{{ request.path }}')" title="無法複製請直接複製網址">點擊複製分寶(邀請)連結</button>
{% endif %}

{% if request.user.is_anonymous %}
<a href="/accounts/login/?next={{ request.path }}" class="link-primary"><h3>點此登入</h3></a>

{% elif not share_self.member_type and share_group.is_apply %}
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_join/{{ share_group.token.hex }}')">
    申請加入
</button>
{% elif share_self.member_type == 12 %}
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_join/{{ share_group.token.hex }}')">
    申請修改
</button>
權限變更後請重新整理頁面
{% elif share_self.member_type >= 21 and share_self.member_type <= 23 %}
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_join/{{ share_group.token.hex }}')">
    更新會員資料
</button>
{% endif %}

<hr class="style-gradual">
{% if share_self.member_type >= 21 and share_self.member_type <= 23 %}

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    onclick="set_modal_content('modal_group_add_item/{{ share_group.id }}/new')">
    新增紀錄
</button>
{% endif %}
<br><br>
{% csrf_token %}

<div class="row">
    <div class="col">
    <h2>明細表</h2>
    </div>
    <div class="col text-end">
    {% if is_edit %}
    <a type="button" class="btn btn-outline-primary" href="/share/download_detail_excel/{{ share_self.id }}">匯出excel</a>
    <!-- <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        onclick="set_modal_content('')">
        載入excel
    </button> -->
    {% endif %}
    </div>
</div>
<table id="myTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>取得成員</th>
            <th>項目</th>
            <th>金額</th>
            <th>平分成員</th>
            <th>平分人數</th>
            <th>取得日期</th>
        </tr>
    </thead>
</table>
<p>最多顯示近1000筆資料，平分金額是計算後(手續費)的結果</p>
<hr class="style-gradual">


<div class="row">
    <div class="col">
    <h2>結算</h2>
    </div>
    <div class="col text-end">
    {% if is_edit %}
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        onclick="set_modal_content('modal_group_sort_share/{{ share_group.id }}')">
        重新分配
    </button>
    <button type="button" class="btn btn-outline-primary"
        onclick="recalculate_alert('/share/recalculate_share/{{ share_group.id }}')">
        重新計算
    </button>
    <a type="button" class="btn btn-outline-primary" href="/share/download_stats_excel/{{ share_self.id }}">匯出excel</a>
    {% endif %}
    </div>
</div>


<div id="share_member"></div>
<br>
<hr class="style-gradual">
<div>
    <h2>統計
        <small class="text-muted h6">目前須重新整理頁面才會更新喔</small>
    </h2>
    <canvas id="myChart"></canvas>
</div>
<br><br><br>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var wsSecure = 'ws'
    var Protocol = window.location.protocol.split(':')[0];
    if (Protocol === 'https') {
        var wsSecure = 'wss'
    }
    const chatSocket = new WebSocket(`${wsSecure}://{{ request.get_host }}/ws/share/{{ share_group.token.hex }}/`);

    var columns = [
        {
        className: 'dt-control',
        orderable: false,
        data: null,
        defaultContent: '',
        },
        { "data": "get_member"},
        { "data": "item" },
        { "data": "original_price" },
        { "data": "share_members" },
        { "data": "share_members" },
        { "data": "getting_time" },
    ]

    function open_row(d) {
    // `d` is the original data object for the row
    share_price = d.share_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    return (
        `<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
        <tr>
        <td>建立時間：</td>
        <td>${d.create_time}</td>
        </tr>

        <tr>
        <td>平分金額：</td>
        <td>${share_price}</td>
        </tr>
        <tr>
        <td>最後更新時間/成員：</td>
        <td>${d.update_time} ${d.set_member}</td>
        </tr>

        {% if is_edit %}
        <tr>
        <td>操作：</td>
        <td><button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="modify_modal_table(${d.id})">修改</button></td>
        </tr>
        {% endif %}

        </table>`
    );
    }

    var columnDefs = [{ 
        "targets": 1,
        'className': 'text-center'
        },{ 
        "targets": 2,
        'className': 'text-center'
        },{
        "targets": 3,
        'className': 'text-end',
        "render": function (data, type, row) {
            return data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        },{
        "targets": 4,
        "orderable": false,
        "render": function(data, type, row) {
            var data = sessionStorage.getItem("members");
            const members = JSON.parse(data).data;
            result = ''
            for (var i = 0; i < row.share_members.length; i++) {
                value = members[row.share_members[i]]
                result += `<img src="${value.avatar}" class="rounded-pill" style="width: 30px; height: 30px" title="${value.nick_name}">`
            }
            return result
        },
        },{
        "targets": 5,
        "render": function (data, type, row) {
            return row.share_members.length;
            }
        },{
        "targets": 6,
        'className': 'text-center'
        },
    ]


    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data['type'] == 'members') {
            sessionStorage.setItem("members", e.data)
            var members = e.data
        } 
        else if (data['type'] == 'table') {
            var myTable = $('#myTable').DataTable({
                    'language': language,
                    'data': data['data'],
                    'columns': columns,
                    'columnDefs': columnDefs,
                    "order": [[6, "desc"]],
            });
            change_size()

            $('#myTable tbody').on('click', 'td.dt-control', function () {
                var tr = $(this).closest('tr');
                var row = myTable.row(tr);
        
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(open_row(row.data())).show();
                    tr.addClass('shown');
                }
            });

            // 獲取新增分寶的項目
            itemSet = new Set();
            for (var i = 0; i < data['data'].length; i++) {
                itemSet.add(data['data'][i]['item'])
            }
            itemArray = Array.from(itemSet)
            sessionStorage.setItem("itemArray", JSON.stringify(itemArray))
            change_Chart(data['data'])
        } 
        else if (data['type'] == 'update_group_table') {
            var result = data['data']['data']
            if (data['data']['type'] == 'append'){
                var table = $('#myTable').DataTable();
                table.row.add(result).draw();
            } else if (data['data']['type'] == 'update'){
                var table = $('#myTable').DataTable();
                var rows = table.rows(function(idx, data, node) {
                    return data.id === result['id'];
                });
                table.row(rows.indexes().toArray()[0]).remove().draw();
                table.row.add(result).draw();
            } else if (data['data']['type'] == 'delete'){
                var table = $('#myTable').DataTable();
                var rows = table.rows(function(idx, data, node) {
                    return data.id === result['id'];
                });
                table.row(rows.indexes().toArray()[0]).remove().draw();
            }
        }
        else if (data['type'] == 'price_of_member') {
            var data_jaon = sessionStorage.getItem("members");
            const members = JSON.parse(data_jaon).data;

            html_part = ``
            for (const [key, value] of Object.entries(members)) {
                member_html_part = '<div class="accordion-item">'

                if (key === '{{ share_self.id }}'){
                    aria_expanded = true
                    aria_show = 'show'
                    text_success = 'text-success'
                } else {
                    aria_expanded = false
                    aria_show = ''
                    text_success = ''
                }

                member_html_part_1 = ''
                maney = 0
                for (var i = 0; i < data['data'].length; i++) {
                    member = data['data'][i]
                    if (member.in_member === Number(key) && member.price > 0){
                        // 收錢的是自己
                        member_html_part_1 += `
                        <tr>
                            <td class="text-center">${members[member.out_member].nick_name}</td>
                            <td class="text-end"></td>
                            <td class="text-end">${member.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</td>
                        </tr>
                        `
                        maney += member.price
                    } 
                    else if (member.out_member === Number(key) && member.price > 0) {
                        member_html_part_1 += `
                        <tr>
                            <td class="text-center">${members[member.in_member].nick_name}</td>
                            <td class="text-end" {% if is_edit %} data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="set_modal_content('modal_group_send_price/{{ share_group.id }}/${member.id}')" {% endif %}>
                                <a class="link-primary user-select-none">${member.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}</a>
                                </td>
                            <td class="text-end"></td>
                        </tr>
                        `
                        maney -= member.price
                    }
                }
                total_maney_html = ''
                if (maney){
                    total_maney_html = `<span class="badge rounded-pill bg-light text-dark ">  ${maney.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}  </span>`
                }
                introduce_html = ''
                if (value.introduce){
                    introduce_html = `<span class="badge rounded-pill bg-light text-dark ">  ${value.introduce}  </span>`
                }
                
                member_html_part += `
                <h2 class="accordion-header mb-0" id="heading_${key}">
                    <button class="accordion-button collapsed ${text_success}" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse_${key}" aria-expanded="${aria_expanded}" aria-controls="collapse_${key}">
                        ${value.nick_name}
                        ${total_maney_html}
                        ${introduce_html}
                    </button>
                </h2>

                <div id="collapse_${key}"
                    class="accordion-collapse collapse ${aria_show}"
                    aria-labelledby="heading_${key}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="text-center">暱稱</th>
                                    <th class="text-end">發送金額</th>
                                    <th class="text-end">收到金額</th>
                                </tr>
                            </thead>
                            <tbody>
                `

                member_html_part += member_html_part_1
                member_html_part += '</tbody></table></div></div></div>'
                if (maney != 0){
                    html_part += member_html_part
                }
            }

            html_data = `
            <div class="accordion" id="accordionExample">
                ${html_part}
            </div>
            `
            $("#share_member").html(html_data)
        }
    };

    chatSocket.onopen = function () {
        chatSocket.send(JSON.stringify({
            'type': 'members'
        }));
        chatSocket.send(JSON.stringify({
            'type': 'table'
        }));
        chatSocket.send(JSON.stringify({
            'type': 'price_of_member'
        }));
    }

    chatSocket.onclose = function (e) {
        alert('連線中斷 請重新整理頁面')
    };

    function modify_modal_table(row_id){
        set_modal_content(`modal_group_add_item/{{ share_group.id }}/${row_id}`)
    }


    $(window).resize(change_size);

    function change_size () {
        var wdth = $(window).width();
        if (wdth < 768) {
            var table = $('#myTable').DataTable();
            table.column(4).visible(false);
            table.column(5).visible(true);
        } else {
            var table = $('#myTable').DataTable();
            table.column(4).visible(true);
            table.column(5).visible(false);
        }
    }


    function change_Chart (data) {
        var my_dict = {}
        for (var i = 0; i < data.length; i++) {
            if (data[i].price_options === 2) {
                if ( data[i].get_member in my_dict ){
                    my_dict[data[i].get_member] += data[i].share_price * data[i].share_members.length
                } else {
                    my_dict[data[i].get_member] = data[i].share_price * data[i].share_members.length
                }
            }
            
        }
        labels_list = []
        data_list = []
        for (const [key, value] of Object.entries(my_dict)) {
            labels_list.push(key)
            data_list.push(value)
        }

        const ctx = document.getElementById('myChart');

        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels_list,
                datasets: [{
                label: '貢獻血量',
                data: data_list,
                borderWidth: 1
                }]
            },
            options: {
                scales: {
                y: {
                    beginAtZero: true
                }
                }
            }
        });
    }


    function recalculate_alert(url) {
        if (confirm('確定要重新計算嗎？')){
            $.get(`${url}`, function (data) {
            alert(data.message)
        })}
    }

</script>

{% endblock share_content %}
