{% extends "base.html" %}
{% load static %}
{% load share_extras %}

{% block content %}
<div class="row">
  <div class="col-12 col-md-3 container-all left-div">
    <div class="list-group list-group-flush border-bottom scrollarea">
      <a href="/share/information/" class="list-group-item list-group-item-action py-3 lh-sm left-button
      {% if '/share/information/' in request.path %}active{% endif %}
      " aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">個人資訊</strong>
        </div>
      </a>
      <a href="/share/group_create/" class="list-group-item list-group-item-action py-3 lh-sm left-button
      {% if '/share/group_create/' in request.path %}active{% endif %}
      ">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">建立分寶群</strong>
        </div>
      </a>
      {% for data in share_options %}

      <a href="/share/group/{{ data.share_group.token.hex }}/" class="list-group-item list-group-item-action py-3 lh-sm left-button
      {% if data.share_group.token.hex in request.path %}active{% endif %}
      ">
        <div class="d-flex w-100 align-items-center justify-content-between">

          <strong class="mb-1">{{ data.share_group }}</strong>
        </div>

        <div class="col-10 mb-1 small">
          {{ data.member_type | get_member_role_ch }}｜{{ data.nick_name }}</div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-12 col-md-9 hide-in-phone container-all right-div">
    <div class="show-in-phone">
      <button type="button" class="back-btn right-button">
        <i class="bi bi-chevron-left"></i> 回選單
      </button>
      <br><br>
    </div>

    <div>
      {% block share_content %}
      內容
      {% endblock share_content %}
    </div>

  </div>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'share/js/share.js' %}"></script>
{% endblock script %}