{% extends "base.html" %}


{% block content %}


<div class="row">
  <div class="col-12 col-md-3 container-all left-div">
    <div class="list-group list-group-flush border-bottom scrollarea">
      <a href="http://home.teabe.idv.tw:8000/" class="list-group-item list-group-item-action active py-3 lh-sm left-button" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">個人資訊</strong>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-sm left-button">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">建立分寶團</strong>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-sm left-button">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">分寶團</strong>
        </div>
        <div class="col-10 mb-1 small">簡介</div>
      </a>
    </div>


  </div>
  <div class="col-sm-12 col-md-9 hide-in-phone container-all right-div">
    <div class="show-in-phone">
        <button type="button" class="back-btn right-button">
          <i class="bi bi-chevron-left"></i> 回選單
        </button>

    </div>

    <div>

    </div>

  </div>
</div>




{% endblock content %}