{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block content %}

{% if process == "connect" %}

<h1 class="text-center">{% blocktrans with provider.name as provider %}連結帳號：{{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}您即將使用
  {{ provider }} 連結帳號。{% endblocktrans %}</p>
{% else %}

<h1 class="text-center">{% blocktrans with provider.name as provider %}登入方式： {{ provider }}{% endblocktrans %}</h1>
<p>{% blocktrans with provider.name as provider %}您即將使用
  {{ provider }} 的第三方帳戶登錄{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}


  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">繼續</button>
  </div>

</form>


{% endblock %}